@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}
body {
  background: linear-gradient(
    135deg,
    #2a9d8f,
    %20#E9C46A,
    %20#264653
  ); /* Gradient from Teal to Golden Yellow */

  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* create a custom class from tailw classes */
.link__hover {
  @apply hover:text-gray-300;
  transition: color 0.3s ease-in-out;
  &:hover {
    @apply text-blue-500;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: underline;
  }
}
